{% extends "template.html.jinja" %}

{% block date %}Wednesday, Jan 13{% endblock %}

{% block greeting %}
<p>Hey gang,</p>
<p>Hope you all had merry Christmases! Looking forward to seeing you all on Wednesday.</p>
<p>Ethan</p>
{% endblock %}

{% block time_and_location %}
<p class="location-title">6:30 p.m. at Jeremy&#39;s place:</p>
<p><a href="https://goo.gl/maps/qw9M1JjJdS2zotYWA" target="_blank">
1384 N San Pedro St<br>
San Jose, CA 95110</a></p>

<p>Bring your own dinner (and a chair).</p>
{% endblock %}
